.git
.gitignore

.env
.env.*
!.env.example

node_modules
vendor

storage/logs
storage/framework

bootstrap/cache

npm-debug.log
yarn-error.log

.phpunit.result.cache

Dockerfile
docker-compose.yml

.DS_Store
Thumbs.db
